<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container m-4">
      <form action="/categories/@Model.Id/items" method="post">
        <input id="categoryId" name="categoryId" type="hidden" value="@Model.Id">
        <label for="itemDescription">Add a new item</label>
        <input id="itemDescription" name="itemDescription" type="text">
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>